/__pycache__

/latex/page.aux
/latex/page.fdb_latexmk
/latex/page.fls
/latex/page.log
/latex/page.synctex.gz
/latex/page.pdf
/latex/page.tex
/latex/page.out

/latex/myFile.aux
/latex/myFile.fdb_latexmk
/latex/myFile.fls
/latex/myFile.log
/latex/myFile.synctex.gz

/test.py